#status {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 45em;
	padding: 1em;
	margin: 0;
	background-color: #fff;
	border-bottom: solid;
	font-weight: bold;
	z-index: 999;
	font-family: "Courier New", Courier, monospace;
}
.numWildlife {
	color: red;
}
#bloomSeason {
	margin-top: 1em;
}
.nocolor, .white, .orange, .purple, .green, .yellow, .pink, .blue, .red {
	display: inline-block;
	width: 2.2em;
	height: 2.6em;
	text-align: center;
	background-repeat: no-repeat;
	background-position: bottom;
}
.nocolor {
	background-image: url("img/white.png");
	opacity: 0.4;
}
.white, .orange, .purple, .green, .yellow, .pink, .blue, .red {
	color: red;
}
.white {
	background-image: url("img/white.png");
}
.orange {
	background-image: url("img/orange.png");
}
.purple {
	background-image: url("img/purple.png");
}
.green {
	background-image: url("img/green.png");
}
.yellow {
	background-image: url("img/yellow.png");
}
.pink {
	background-image: url("img/pink.png");
}
.blue {
	background-image: url("img/blue.png");
}
.red {
	background-image: url("img/red.png");
}
#workspace {
	font-family: "Times New Roman", Times, serif;
	margin-top: 8em;
}
#btnAdd {
	position: fixed;
	right: 1%;
	bottom: 1%;
	width: 1em;
	height: 1em;
	font-size: 6em;
	border-radius: 50%;
	background-color: #006622;
	color: #fff;
	cursor: pointer;
	border: 0;
}
.plot {
	position: relative;
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 2em;
	min-width: 44em;
	border: 1px solid #000000;
}
.btnClose {
	position: absolute;
	right: 0;
	top: 0;
}
.main, .options {
	display: inline-block;
	vertical-align: top;
}
.main {
	position: relative;
	width: 28em;
	height: 43em;
	overflow: auto;
	border: dashed #bb904a;
}
.background {
	position: absolute;
	z-index: -1;
	color: lightgray;
	font-size: 6em;
	width: 100%;
	height: 100%;
	text-align: center;
}
.options fieldset {
	margin-top: 1em;
}
.options legend {
	background-color: #696c75;
	color: #ffffff;
	font-weight: bold;
	padding: 0.2em 0.4em 0.2em 0.4em;
}
.optionHeading {
	color: #3F9E49;
	font-weight: bold;
}
.number {
	width: 4em;
}
.plant {
	border-bottom: 1px solid #999999;
	padding: 0.4em;
	cursor: pointer;
	background-color: #f5ead9;
}
.plant:hover {
	outline-width: 0.3em;
	outline-style: ridge;
	outline-color: #f9bf96;
}
.ignore {
	opacity: 0.3;
	background-color: #6e6879;
	color: #ffeed0;
}
.groundcover {
	border-left: 2em solid #78bd83;
}
.wildflowers {
	border-left: 2em solid #de84b3;
}
.shrubs {
	border-left: 2em solid #aee5f1;
}
.trees {
	border-left: 2em solid #4d4e3c;
}
.plant .name {
	font-weight: bold;
}
.plant .latin {
	font-style: italic;
}
img {
	vertical-align: middle;
}
.indent {
	margin-left: 1em;
}
.indent2 {
	margin-left: 0.9em;
}